<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Darren Mo</string>
	<key>Builder Version</key>
	<string>13604.4.7.1.3</string>
	<key>CFBundleDisplayName</key>
	<string>Polite Phabricator</string>
	<key>CFBundleIdentifier</key>
	<string>mo.darren.polite-phabricator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>differential_modify.js</string>
				<string>main.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://*/D*</string>
			<string>https://*/D*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Feel less intimidated by change requests in Phabricator.</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/fumoboy007/Polite-Phabricator</string>
</dict>
</plist>
